<div *ngIf="movie" class="container main-container animated fadeIn fast">
  <h1>{{ movie.title }}</h1>
  <div class="row">
    <div class="col-md-5">
      <img
        [src]="movie | imageMovies: true"
        [alt]="movie.title"
        class="img-thumbnail img-fluid"
      />
    </div>
    <div class="col-md-7">
      <h3>Sipnosis</h3>
      <hr />
      <p class="text-justify">{{ movie.overview }}</p>
      <h4>frase famosa</h4>
      <p>{{ movie.tagline }}</p>
      <p>
        Rate
        <span class="badge badge-primary"
          >{{ movie.popularity | number: ".0-0" }}/10</span
        >
      </p>
      <br />
      <p>
        reiting:
        <span class="badge badge-primary">{{ movie.vote_average }}</span>
      </p>
      
      <div class="ratings">
        <div class="empty-stars"></div>
        <div class="full-stars" [ngStyle]="{
          'width.%': ''+(movie.vote_average*10)+''
        }" ></div>
      </div>
      <br />
      <button
        class="btn btn-outline-danger"
        (click)="dialogRef.close()"
        type="button"
      >
        volver
      </button>
    </div>
  </div>
</div>
